/////////////////////////////////////////
// SLIDE IN ANIMATION WITH DELAY FOR EACH NAV ITEM
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from{
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/////////////////////////////////////////
// SLIDE OUT ANIMATION WITH DELAY FOR EACH NAV ITEM
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}