@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/////////////////////////////////////////
// PRIMARY COLORS
$color-primary-white: hsl(0, 0%, 100%);
$color-primary-nav-1: hsl(196, 14%, 15%);
$color-primary-nav-2: hsl(3, 50%, 45%);
$color-primary-nav-3: hsl(28, 50%, 45%);
$color-primary-nav-4: hsl(184, 49%, 27%);
$color-primary-nav-5: hsl(128, 50%, 35%);
$color-primary-bg: hsl(0, 0%, 0%);
$color-primary-overlay-bg: hsla(0, 0%, 0%, 0.7);

/////////////////////////////////////////
// CSS RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
  box-sizing: border-box;
}

body {
  
}