@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/////////////////////////////////////////
// PRIMARY COLORS
$color-primary-white: hsl(0, 0%, 100%);
$color-primary-nav-1: hsl(196, 14%, 15%);
$color-primary-nav-2: hsl(3, 50%, 45%);
$color-primary-nav-3: hsl(28, 50%, 45%);
$color-primary-nav-4: hsl(184, 49%, 27%);
$color-primary-nav-5: hsl(128, 50%, 35%);