/////////////////////////////////////////
// NAVIGATION MENU

// OVERLAY
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $color-primary-overlay-bg;
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translate(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

// NAV MENU ITEMS
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;

 li {
    height: 20%;
    overflow: hidden;

    a {
      position: relative;
      top: 45%;
      color: $color-primary-white;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-decoration: none;
      display: block;
      text-align: center;
    }

    a:hover {
      transform: scale(1.2);
    }

    a::before {
      content: "";
      width: 25vw;
      height: 3px;
      background: $color-primary-white;
      position: absolute;
      top: 47.5%;
      left: 0;
      opacity: 0;
    }

    a:hover::before {
      opacity: 1;
    }

    &:nth-of-type(1) {
      background-color: $color-primary-nav-1;
    }

  }
}
